.footer {
	padding: 55px 0 32px;
	background-color: #F8F8F8;
	&__items {
		display: flex;
		justify-content: space-between;
	}

	&__item {
		width: 140px;
		&--company {
			width: 300px;
			padding-left: 180px;
		}
		&--blog {
			width: 300px;
		}
	}

	&__item-title {
		font-weight: 700;
		font-size: 15px;
		line-height: 20px;
		color: $black;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	&__item-list {
	}

	&__item-link {
		font-size: 14px;
		line-height: 19px;
		margin-bottom: 8px;
		&--social {
			padding-left: 28px;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				left: 0;
				width: 16px;
				height: 16px;
			}
		}

		&--message::before {
			background-image: url('../img/icons/message.svg');
			width: 17px;
			top: 1px;
		}
		&--facebook::before {
			background-image: url('../img/icons/facebook.svg');
		}
		&--instagram::before {
			background-image: url('../img/icons/instagram.svg');
		}
		&--youtube::before {
			background-image: url('../img/icons/youtube.svg');
		}
		&--email::before {
			background-image: url('../img/icons/email.svg');
			height: 13px;
			top: 3px;
		}
	}

	&__copy {
		padding-top: 40px;
		text-align: center;
		font-size: 14px;
		line-height: 19px;
	}

	@media (max-width: 1075px) {
		&__item {
			&--company {
				width: 140px;
				padding-left: 0;
			}
		}
	}
	@media (max-width: 840px) {
		&__items {
			flex-wrap: wrap;
		}

		&__item {
			width: 50%;
			margin-bottom: 35px;
			padding-right: 25px;
		}
	}

	@media (max-width: 470px) {
		&__items {
			display: block;
		}
		&__item {
			width: 100%;
			padding-right: 0;
		}
	}
}