.header {

	&__top {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 100vh;
		padding: 40px;
	}

	&__top-inner {
		border: 2px solid $accent;
		border-bottom: none;
		display: flex;
		flex-direction: column;
		height: 100%;
		color: #fff;
		font-family: Georgia, serif;
	}

	&__title {
		font-size: 200px;
		line-height: 227px;
		font-weight: 700;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
		margin: auto;
	}

	&__text {
		font-size: 24px;
		line-height: 27px;
		text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
		display: flex;
		white-space: nowrap;
		align-items: center;
		margin-bottom: -12px;
		&::after,
		&::before {
			content: '';
			border-top: 2px solid $accent;
			width: 100%;
		}
		&::after {
			margin-left: 30px;
		}
		&::before {
			margin-right: 30px;
		}
		
	
	}
	@media (max-width: 900px) {
		&__top {
			background-position: right;
		}
		&__title {
			font-size: 120px;
			line-height: 150px;
		}

		&__text {
			font-size: 20px;
		}
	}
	@media (max-width: 540px) {
		&__top {
			padding: 10px;
		}
		&__top-inner {
			border: 2px solid $accent;
		}
		&__title {
			font-size: 80px;
		}
		&__text {
			display: none;
		}
	}
}

.menu {
	border-bottom: 1px solid rgba(208, 212, 216, .5);
	&__burger-btn {
		display: none;

	}
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	

	&__list-item {
	}

	&__list-link {
		margin: 0 6px;
		padding: 20px 10px;
		color: $gray2;
		font-weight: 700;
		font-size: 14px;
		line-height: 19px;
		border-bottom: 4px solid transparent;
		transition: all .4s;
		&:hover {
			color: $black;
			border-bottom: 4px solid $accent;
			transition: all .4s;
		}
	}
	@media (max-width: 700px) {
		position: relative;
		&__burger-btn {
			display: block;
			width: 40px;
			cursor: pointer;
			position: absolute;
			top: 15px;
			right: 40px;
			& span {
				display: block;
				margin-bottom: 10px;
				background-color: $accent;
				height: 4px;
			}
		}
		&__list {
			display: none;
			padding-top: 60px;
			text-align: center;
			border-bottom: 4px solid $accent;
		}
		&__list-link {
			display: block;
			border-top: 4px solid $accent;
			&:hover {
				border-bottom: 4px solid transparent;
			}
		}
	}

	@media (min-width: 700px) {
		&__list {
			display: flex !important;
		}
	}
}

